@use '@/assets/styles/variables' as *;

:root {

    // Colors
    @each $key, $value in $colors {
        --color-#{$key}: #{$value};
    }

    // Body
    --body-color: var(--color-white);
    --body-bg: var(--color-white);

    // Text
    --text-default: var(--color-black);
    --text-heading: var(--color-black);
    --text-subtle: var(--color-subtle);

    // Icon
    --icon-color: var(--color-black);

    // Typography
    @each $name, $size in $font-sizes {
        --font-size-#{$name}: #{$size};
    }
    
    @each $name, $height in $line-heights {
        --line-height-#{$name}: #{$height};
    }
    
    @each $name, $weight in $font-weights {
        --font-weight-#{$name}: #{$weight};
    }

    // Link
    --link-color: var(--color-primary);
    --link-hover: var(--color-primary-hover);
    --link-active: var(--color-primary-hover);
    --link-visited: var(--color-primary);
    --link-focus-outline: dashed #{rem-calc(2)} var(--color-primary);
    --link-focus-outline-offset: #{rem-calc(4)};

    // Button primary
    --button-primary-bg: var(--color-primary);
    --button-primary-hover: var(--color-primary-hover);
    --button-primary-active: var(--color-primary);
    --button-primary-label: var(--color-black);
    --button-primary-border: var(--color-primary);

    // Card
    --card-border: var(--color-gray-900);

    // Radius
    @each $name, $value in $radius {
        --radius-#{$name}: #{$value};
    }

    // Spacers (sistema di spaziature)
    @each $name, $value in $spacers {
        --space-#{$name}: #{$value};
    }
    
    // Gap values per grid/flex
    @each $name, $value in $gap-values {
        --gap-#{$name}: #{$value};
    }
}